<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/aop 
    http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    "
    default-init-method="config">

    <bean id="batchTravel"
        class="kkr.travel.batchs.BatchTravel">
        <property name="travelReader" ref="travelReader" />
        <property name="travelWriter" ref="travelWriter" />
    </bean>

    <bean id="travelReader"
        class="kkr.travel.components.travel.reader.excelpoi.TravelReaderExcelPoi">
        <property name="file" value="wrk/travel.xlsx" />
        <property name="sheet" value="TRAVEL" />
    </bean>

    <bean id="travelWriter"
        class="kkr.travel.components.travel.writer.html.TravelWriterHtml">
        <property name="file" value="wrk/travel.html" />
    </bean>

</beans>    